.row {
    width: 100%;
}
#contact-form {
    align-content: center;
}input h3 {
    color: var(--secondary_color);
}
textarea {
    width: 100%;
}
input {
    width: 100%;
}
#form-button {
    margin-top: 3vh;
    margin-bottom: 8vh;
    width: 100%;
}
#contact-info-h1 a {
    text-decoration: none;
    color: var(--primary_color);
    text-shadow: var(--secondary_color);
    text-align: center;
}
#contact-info-h1 a:hover {
    text-decoration: none;
    color: var(--tertiary_color);
    text-shadow: var(--primary_color);
    text-align: center;
}
#contact-info-h1 {
    margin-bottom: 15vh;
}